## **1. Wyrażenia, które ze zmiennej text wypiszą:**

In [ ]:
import re

text = r"""Adam Malinowski
.gitignore
2023-01-17 error "Page not found"
[2025-03-06] NOTICE "User admin logged in"
Code 3300 was invalid
https://www.onet.pl 200 176353
File /etc/passwd: permission denied
Józef
C:\Program Files
Ania
JOLA
marek
Kowalski
bodo363
PIN 0000 was invalid
/users/test is not a valid directory name
192.168.0.1 access denied
1000
666
"""

### **1.1 Zwraca wszystkie liczby**

In [ ]:
print("1.1:", re.findall(r'\d+', text))

1.1: ['2023', '01', '17', '2025', '03', '06', '3300', '200', '176353', '363', '0000', '192', '168', '0', '1', '1000', '666']

### **1.2 Zwraca wszystkie liczby co najmniej dwucyfrowe**

In [ ]:
print("1.2:", re.findall(r'\b\d{2,}\b', text))

1.2: ['2023', '01', '17', '2025', '03', '06', '3300', '200', '176353', '0000', '192', '168', '1000', '666']

### **1.3 Zwraca wszystkie liczby, które zawierają co najmniej dwa kolejne zera**

In [ ]:
print("1.3:", re.findall(r'\b\d*00\d*\b', text))

1.3: ['3300', '200', '0000', '1000']

### **1.4 Zwraca wszystkie wyrazy, które nie zawierają cyfr**

In [ ]:
print("1.4:", re.findall(r'\b[^\d\W]+\b', text))

1.4: ['Adam', 'Malinowski', 'gitignore', 'error', 'Page', 'not', 'found', 'NOTICE', 'User', 'admin', 'logged', 'in', 'Code', 'was', 'invalid', 'https', 'www', 'onet', 'pl', 'File', 'etc', 'passwd', 'permission', 'denied', 'Józef', 'C', 'Program', 'Files', 'Ania', 'JOLA', 'marek', 'Kowalski', 'PIN', 'was', 'invalid', 'users', 'test', 'is', 'not', 'a', 'valid', 'directory', 'name', 'access', 'denied']

## **2. Grupowanie kodu kraju i numeru telefonu**

In [ ]:
tel = [
    '+48 555 444 333',
    '(48) 555-444-333',
    '(+48)555444333',
    '+48 555444333',
    '+48555444333',
    '48555444333'
]

pattern = r'[\(+]?(\d{2})[\)\s-]*([\d\s-]{7,})'
print("\n2. Numery telefonów:")
for t in tel:
    match = re.search(pattern, t)
    if match:
        kod = match.group(1)
        numer = re.sub(r'\D', '', match.group(2))
        print("Kod:", kod, "| Numer:", numer)

2. Numery telefonów:
Kod: 48 | Numer: 555444333
Kod: 48 | Numer: 555444333
Kod: 48 | Numer: 555444333
Kod: 48 | Numer: 555444333
Kod: 48 | Numer: 555444333
Kod: 48 | Numer: 555444333

## **3. Konsumowanie w przód i w tył – ceny bez waluty**

In [1]:
import re

tekst = """
Komputer: 3999.00 PLN, myszka: 30.0$, monitor: 399.00 Euro, podkładka: 39 zł
"""

# Wyrażenie regularne wykorzystuje konsumowanie w przód (lookahead)
# oraz w tył (lookbehind), aby dopasować tylko ceny bez oznaczenia waluty
wzorzec = r"(?<!\d)(?<!\d\.)\d+(?:\.\d+)?(?=\s?(?:PLN|\$|zł|Euro))"

ceny = re.findall(wzorzec, tekst)
print(ceny)

['3999.00', '30.0', '399.00', '39']