## **Zadanie 1 – Zliczanie samogłosek za pomocą reduce i lambda**

In [1]:
from functools import reduce

text = "Przykładowy tekst z samogłoskami"

count_vowels = lambda txt: reduce(lambda acc, char: acc + (1 if char.lower() in 'aeiouyąęó' else 0), txt, 0)
print(count_vowels(text))  # wynik np. 10

10

## **Zadanie 2 – Sortowanie po liczbie punktów wyciągniętej z tekstu**

In [3]:
data = [('Adam', 'Nowak', '13 pkt'), ('Anna','Górka', '15 pkt'), ('Wojtek', 'Bonk', '8 pkt')]

sorted_data = sorted(data, key=lambda x: int(x[2].split()[0]), reverse=True)
print(sorted_data)

[('Anna', 'Górka', '15 pkt'), ('Adam', 'Nowak', '13 pkt'), ('Wojtek', 'Bonk', '8 pkt')]

## **Zadanie 3 – Iloczyn 10 pierwszych liczb Fibonacciego**

In [4]:
from functools import reduce
from operator import mul

# Generowanie pierwszych 10 liczb Fibonacciego, zakładając F(1)=1
fibo = [1, 1]
for _ in range(8):
    fibo.append(fibo[-1] + fibo[-2])

product = reduce(mul, fibo)
print(product)

122522400

## **Zadanie 4 – Zwracanie dnia tygodnia z cycle**

In [5]:
from itertools import cycle, islice

def jaki_dzien(start_day, n):
    dni = ['poniedziałek', 'wtorek', 'środa', 'czwartek', 'piątek', 'sobota', 'niedziela']
    cyc = cycle(dni)
    start_index = dni.index(start_day)
    # przesuń cykl do odpowiedniego startu
    shifted = islice(cyc, start_index, start_index + n + 1)
    return list(shifted)[-1]

print(jaki_dzien('wtorek', 3))  # powinno dać 'piątek'

piątek

## **Zadanie 5 – Permutacje jako stringi (lambda + permutations)**

In [6]:
from itertools import permutations

perms = permutations('ABCD', 2)
as_strings = list(map(lambda x: ''.join(x), perms))
print(as_strings)

['AB', 'AC', 'AD', 'BA', 'BC', 'BD', 'CA', 'CB', 'CD', 'DA', 'DB', 'DC']

## **Zadanie 6 – Kombinacje rozmienienia 100 zł**

In [7]:
from itertools import product

# Możliwe ilości każdego nominału
comb = [
    range(0, 5),   # 0-4 banknoty po 20 zł
    range(0, 4),   # 0-3 banknoty po 10 zł
    range(0, 3),   # 0-2 banknoty po 50 zł
    range(0, 3)    # 0-2 monety po 5 zł
]

# Zlicz kombinacje, gdzie suma wynosi 100 zł
count = 0
for a, b, c, d in product(*comb):
    if 20*a + 10*b + 50*c + 5*d == 100:
        count += 1

print(count)  # np. 9

8

## **Zadanie 7 – starmap + format**

In [8]:
from itertools import starmap

args = [(255, 'x'), (3.14159, '.2f'), (1000, ',d')]
formatted = list(starmap(format, args))
print(formatted)

['ff', '3.14', '1,000']